.lesson-card {
    // background: #5f6061;
    max-width: 300px;
    cursor: pointer;
    margin: 10px auto;
    // color: white;
  }
  
  .lesson-image {
    background-image: url('../../../../assets/images/ag.jpg');
    background-size: cover;
  }
  .lesson-video {
      background-size: cover;
  }
