<div class="main-div">
<div class="main-nav">
    <nav>
        <a class="nav" routerLink="/accounts/login">Login</a>
        <a class="nav" routerLink="/accounts/signup">Signup</a>
    </nav>
    <!-- <mat-divider></mat-divider> -->
    <div class="router-outlet">
    <router-outlet></router-outlet>
    </div>
</div>
</div>
<!-- <div fxLayout="row wrap" class="main">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20">
        <a class="na" routerLink="/accounts/login">Login</a>
        <a class="na" routerLink="/accounts/signup">Signup</a>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->