<div class="main">
    <span class="span">
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayout.xs="column" class="span">
            <div fxLayout="column" fxFlex="28" fxFlexOffset="10" fxFlexOrder.xs="1">
                <div class="containercenter">
                    <div class="promo">
                        <!-- <div> -->
                        <h4>
                            A<sup>+</sup> in Core Maths (WASSSCE)
                        </h4>
                        <!-- <a class="linkgreen" href="#">Learn&nbsp;More...</a>A2Q3    333333333333333333333333333333S -->
                        <!-- </div> -->
                        <img src="./../../../assets/images/lessons/webinar.jpg" alt="" />
                    </div><!-- end promo -->
                    <div class="pl20-pr20-pb40">
                        <!-- <div class="w280 pt35 right absolute">
                            <a class="linkgreen" href="#">Archive</a>
                        </div>//end w280 -->
                        <h4>
                            Online Core Maths
                        </h4>
                        <h3>
                            <a class="white invert" href="#">
                                Top 10 topics to learn before your exams.
                            </a>
                        </h3>
                        <div>
                            <div class="img">
                                <img class="b3dark absolute mt3" src="./../../../assets/images/lessons/scholar.jpg"
                                    alt="" />
                            </div>
                            <p class="blogpost">
                                LearnGH &reg; is dedicated to helping each student
                                score A+ in core maths in a fun and easier way!
                                <span class="pt5 block">
                                    <a class="lblue" href="#">
                                        Read&nbsp;More...
                                    </a>
                                </span><!-- end pt5 -->
                                <span class="f9 block lh1 bt1dark">Tutor: Elorm</span>
                                <span class="f9 block lh1 pt5">
                                    <!-- <small>
                                        <mat-icon>phone</mat-icon>
                                    </small> -->
                                    Telephone: +233 24 446 8253
                                </span>
                                <span class="f9 block lh1 pt5">
                                    Company: &reg;LearnGH
                                </span>
                                <span class="f9 block lh1 pt5">Date: May 24, 2020</span>
                                <span class="f9 block lh1 pt5 lbluelink">
                                    Tags: <a href="#">Core Maths</a>,
                                    <a href="#">WASSSCE</a>,
                                    <a href="#">Education</a></span>
                            </p>
                        </div>
                    </div><!-- end pl20-pr20 -->
                </div><!-- end containercenter -->
            </div>
            <div fxLayout="column" fxFlex="40" fxFlexOffset="5" fxFlexOrder.xs="0">
                <div class="containerright">
                    <div class="slider">
                        <img src="./../../../assets/images/shiba2.jpg" alt="" />
                    </div><!-- end slider -->
                    <div class="pl30">
                        <!-- <div class="w410 pt35 right absolute">
                <a class="linkgreen" href="#">Learn&nbsp;More...</a>
                </div>end w280 -->
                        <h4>
                            How it Works?
                        </h4>
                        <span class="white mb30 pr20">
                            <p class="white mb30 pr20">
                                Watch free videos and participate in exercises.
                            </p>
                            <p class="white mb30 pr20">
                                Get tips on best practices
                            </p>
                            <p class="white mb30 pr20">
                                Study anywhere.
                            </p>
                        </span>
                        <ol class="f12 lh15 m0 bt1dark2 blue">
                            <li class="bb1dot pb15 mb12">
                                <span class="white block f16 bold pb5">
                                    <a class="white invert" href="#">
                                        Free Videos
                                    </a>
                                </span>
                                Solved Past Questions
                                <!-- <a class="lblue" href="#">
                    Learn&nbsp;More...
                    </a> -->
                            </li>
                            <li class="bb1dot pb15 mb12">
                                <span class="white block f16 bold pb5">
                                    <a class="white invert" href="#">
                                        Great and experienced teachers
                                    </a>
                                </span>
                                Students, Workers and Remedial Students
                                <!-- <a class="lblue" href="#">
                    Learn&nbsp;More...
                    </a> -->
                            </li>

                            <li class="bb1dot pb15 mb12">
                                <span class="white block f16 bold pb5">
                                    <a class="white invert" href="#">
                                        Excellent Materials
                                    </a>
                                </span>
                                As to how you want it
                                <!-- <a class="lblue" href="#">
                    Learn&nbsp;More...
                    </a> -->
                            </li>
                        </ol>
                    </div><!-- end pl30 -->
                </div><!-- end containerright -->

            </div>
            <div fxLayout="column" fxFlex="20">
                <!-- reserved -->
            </div>
        </div>
    </span>
</div>