mat-card {
  opacity: 0.7;
  background-color: #020e00;
  color: #d9e4df;
  form {
    width: 100%;
    mat-label {
      color: #d7e7e0;
    }
  }
}
.form-full-width {
  width: 100%;
}
button {
  color: #052e1b;
}
input {
  background: none;
}