<footer id="" class="footer">
    <!-- <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="25" fxLayout="column" fxFlexOffset="10">
            <span>
                2015 &copy; learnGh
            </span>
        </div>
        <div fxFlex="35" fxLayout="column">


            <span>
                <small style="color:'#040c0e';">Powered by </small>soft<span style="color:'#f2a104';">Ag</span>
            </span>
        </div>
        <div fxFlex="40" fxLayout="row">
            <mat-icon style="color:'#f2a104';">phone</mat-icon>
            +233 244 468 253
        </div>
    </div> -->
</footer>
<!-- 
&copy; All Rights Reserved <span class="green">soft</span>
    <span class="yellow">Ag</span> 2020 -->
<!-- <table>
        <tr>row</tr>
    </table> -->
<!-- <div id="footer" style="clear:both">
    <table width="990px">
        <tr>
            <td class="foot1"></td>
            <td class="foot2">
                <span>
                    2015 &copy; SchoolMS
                </span>
                <span>
                    Designed by <a class="invert" href="http://wordpress-premium.com">ag</a>
                </span>
            </td>
            <td class="foot3">
                <span>
                    <a href="#">About Us</a> |
                    <a href="#">Services</a> |
                    <a href="#">Portfolio</a> |
                    <a href="#">Our Blog</a> |
                    <a href="#">Contact Us</a>
                </span>
            </td>
        </tr>
    </table>


</div> -->